        <div class="container">
            <footer>
                <small>Designed &amp; built by Ben Briggs &copy; {{ copyright_year }}. Find my code on <a href="https://github.com/ben-eb">GitHub</a> and more opinions on <a href="https://twitter.com/ben_eb">Twitter</a>. Enjoying the content? <a href="/rss.xml">Subscribe today! (RSS)</a></small>
            </footer>
        </div>
    </body>
</html>
