<html>
    <head>
        <title>{{#if tag}}{{tag}} | {{/if}}{{#if title}}{{title}} | {{/if}}Ben Briggs - Front end developer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Ben Briggs</a>
                </div>
            </div>
        </div>
    </nav>

