{{> header }}
<div class="container">
    {{{ contents }}}
    {{#each collections.articles }}
    <div class="row">
        <h2 class="col-lg-12">
            {{#if link}}
                {{ link_to link title }}
            {{else}}
                {{ link_to path title }}
            {{/if}}
        </h2>
    </div>
<!-- Unindented so that the pre tag is not indented further than it should be -->
{{> entryExcerpt }}
<!-- ends -->
    {{/each}}
</div>
{{> footer }}
