/**
 * Styles for overriding/appending to Bootstrap's defaults
 */

.navbar-default {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.navbar-brand {
    font-family: $headings-font-family;
}

h1, .h1 {
    margin-bottom: $line-height-computed * 2;
}

.label-default[href]:hover, .label-default[href]:focus {
    background-color: $label-default-hover-color;
}

a {
    transition: color .2s ease;
}

.label {
    transition: background .2s ease;
}

/**
 * Blockquotes
 */

blockquote {
    background: hsla(50, 95%, 70%, 1);
    border-left: 0;
    color: $link-color;
    position: relative;
    padding: $line-height-computed;
    & > p {
        font-family: $headings-font-family;
    }
    & footer {
        text-align: right;
    }
}

blockquote:before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: ($line-height-computed / 2);
    left: -20px;
    width: 40px;
    height: 40px;
    padding: 10px;
    line-height: 1;
    background: $link-color;
}

h1 .label-title, h3 .label-title {
    font-size: .4em;
    margin-left: 10px;
}

.label-title {
    background: hsla(50, 95%, 70%, 1);
    text-transform: uppercase;
    font-variant: small-caps;
    vertical-align: super;
}

.label-title[href]:hover, .label-title[href]:focus {
    background-color: hsla(50, 100%, 70%, 1);
}